.footer-container {
    width: 100%;
    height: 31.375rem;
    background-image: url(./../img/footer-bg.svg); /* The image used */
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}